bin
Bin
Win32
Profiling
cef_binary*
__history
__recovery
*prjgroup.tvsconfig
*.groupproj*
*.bz2
*.stat
*.local
*.identcache
*.exe
*.bat
*.dcu
*.rsm
*.skincfg
*.dpr.cbk
Docs/*
sm.json
dunitx-results.xml
Thumbs.db*
